:root {
  --primario: rgb(225, 97, 77);
  --blanco: #fff;
  --negro: #1e1d1d;
  --fuentePrincipal: "Nunito", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--fuentePrincipal);
}

body {
  margin: 0;
  font-size: 1rem;
  min-width: 320px;
  min-height: 100vh;
}

h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.section-title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.section-title__title {
  text-transform: uppercase;
  color: var(--primario);
  font-size: 0.9rem;
}

.section-title__detail {
  font-weight: 800;
  font-size: 1.8rem;
}

.section-title__button {
  padding: 1.2rem;
  background-color: var(--primario);
  margin-top: 2rem;
  border-radius: 2rem;
  width: 7rem;
  border-top-left-radius: 0;
  border: none;
  color: var(--blanco);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
}

.section-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.section-images img {
  width: 100%;
  height: 100%;
  border-radius: 8%;
}

figure {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-images__text-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden;
  text-align: center;
  color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
}

figure:hover > .section-images__text-hover {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 768px) and (max-width: 1540px) {
  body {
    width: 100%;
  }

  .section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem;
  }

  .section-title__container {
    text-align: start;
  }

  .section-title__title {
    font-size: 1.1rem;
    margin: 0;
  }

  .section-title__detail {
    font-size: 3.5rem;
  }

  .section-images {
    display: flex;
    flex-direction: row;
    padding: 0 4rem 0 4rem;
  }

  .section-images > figure {
    margin: 0;
    height: 20rem;
  }
}
