:root {
  --primario: rgb(231, 86, 86);
  --blanco: #fff;
  --negro: #000;
  --fuentePrincipal: "Nunito", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--fuentePrincipal);
}

body {
  margin: 0;
  font-size: 1rem;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.section-title__title {
  text-transform: uppercase;
  color: var(--primario);
  font-size: 1rem;
}

.section-title__detail {
  font-weight: 800;
  font-size: 2.2rem;
}
